<div class="row">
  <div class="offset-10 col-md-2 mt-2"> <button class="btn btn-success" (click)="createMedicPositionPage()">Добавить специальность врачу</button> </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Специальность</th>
          <th>Время на специальности</th>
          <th>Подробности</th>
          <th>Изменить</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let medic of list">
          <td>{{medic.positionName}}</td>
          <td>{{medic.dateOnPosition | date: 'mediumDate'}}</td>
          <td><button type="button" id="details" class="btn btn-primary"
                      (click)="getMedicPositionDetails(medic.positionId)">Подробности</button></td>
          <td><button type="button" id="update" class="btn btn-success"
                      (click)="redirectToMedicPositionUpdatePage(medic.positionId)">Изменить</button></td>
          <td><button type="button" id="delete" class="btn btn-danger"
                      (click)="redirectToMedicPositionDeletePage(medic.positionId)">Удалить</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

