<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>ID врача:</strong>
    </div>
    <div class="col-md-3">
      {{item?.medicId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>ФИО врача:</strong>
    </div>
    <div class="col-md-3">
      {{item?.medicFullName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Краткое описание врача:</strong>
    </div>
    <div class="col-md-3">
      {{item?.shortDescription}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Полное описание врача:</strong>
    </div>
    <div class="col-md-3">
      {{item?.fullDescription}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Номер врача:</strong>
    </div>
    <div class="col-md-3">
      {{item?.medicPhoneNumber}}
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="offset-md-3 col-md-1">
    <button type="submit" class="btn btn-info" (click)="deleteMedic()">Удалить</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger" (click)="redirectToMedicList()">Отмена</button>
  </div>
</div>
