<div class="card">
  <div class="card-body">
    <h1 class="card-title">Восстановить пароль</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
      Ваш пароль восстановлен, пожалуйста нажмите <a [routerLink]="['/authentication/login']"> чтобы войти. </a>
    </div>
    <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
      <div class="mb-3 row">
        <label for="password" class="col-form-label col-sm-2">Пароль:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Пароль обязателен</em>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="confirm" class="col-form-label col-sm-2">Подтверждающий пароль:</label>
        <div class="col-md-5">
          <input type="password" id="confirm" formControlName="confirm" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Подтверждающий пароль обязателен</em>
          <em *ngIf="hasError('confirm', 'mustMatch')">Пароли должны совпадать</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Подтвердить</button>
        </div>
      </div>
    </form>
  </div>
</div>
