<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>ID города:</strong>
    </div>
    <div class="col-md-3">
      {{item?.positionId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Название специальности:</strong>
    </div>
    <div class="col-md-3">
      {{item?.positionName}}
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="offset-md-3 col-md-1">
    <button type="submit" class="btn btn-info" (click)="deletePosition()">Удалить</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger" (click)="redirectToPositionList()">Отмена</button>
  </div>
</div>
