<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="createMedicPosition(form.value)">
    <div class="card card-body bg-light mb-2 mt-2">
      <div class="mb-3 row">
        <label for="positionId" class="col-form-label col-md-2">Специальность: </label>
        <div class="col-md-5">
          <select (change)="changed($event)" formControlName="positionId" id="positionId" class="form-control">
            <option *ngFor="let position of Positions" [value]="position.positionId">
              {{position.positionName}}
            </option>
          </select>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('positionId')
          && hasError('positionId', 'required')">Выберите специальность</em>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="dateOnPosition" class="col-form-label col-md-2">Дата на позиции: </label>
        <div class="col-md-5">
          <input type="text"
                 formControlName="dateOnPosition"
                 id="dateOnPosition"
                 class="form-control"
                 bsDatepicker/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('dateOnPosition')
          && hasError('dateOnPosition', 'required')">Введите дату становления на специальность</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="offset-5 col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!form.valid">Добавить</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="redirectToMedic()" >Отменить</button>
        </div>
      </div>
    </div>
  </form>
</div>
