<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <img [src]="createImgPath(item!.polyclinicPhoto)" style="height:300px;">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Фото поликлиники:</strong>
    </div>
    <div class="col-md-3">
      {{item?.polyclinicPhoto}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>ID поликлиники:</strong>
    </div>
    <div class="col-md-3">
      {{item?.polyclinicId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Название поликлиники:</strong>
    </div>
    <div class="col-md-3">
      {{item?.polyclinicName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Номер поликлиники:</strong>
    </div>
    <div class="col-md-3">
      {{item?.polyclinicPhoneNumber}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Город:</strong>
    </div>
    <div class="col-md-3">
      {{item?.city?.cityName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Адрес поликлиники:</strong>
    </div>
    <div class="col-md-3">
      {{item?.polyclinicAddress}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Долгота:</strong>
    </div>
    <div class="col-md-3">
      {{item?.longitude}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Широта:</strong>
    </div>
    <div class="col-md-3">
      {{item?.latitude}}
    </div>
  </div>
  <div class="container">
    <ya-map [center]="[item!.longitude, item!.latitude]" [zoom]="16">
      <ya-placemark [geometry]="[item!.longitude, item!.latitude]"></ya-placemark>
    </ya-map>
  </div>
</div>
