<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="createPosition(form.value)">
    <div class="card card-body bg-light mb-2 mt-2">
      <div class="mb-3 row">
        <label for="positionName" class="col-form-label col-md-2">Название специальности: </label>
        <div class="col-md-5">
          <input type="text" formControlName="positionName" id="positionName" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('positionName')
          && hasError('positionName', 'required')">Введите название специальности</em>
          <em *ngIf="validateControl('positionName')
          && hasError('positionName', 'maxlength')">Максимальное количество символов 100.</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="offset-5 col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!form.valid">Добавить</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="redirectToPositionList()" >Отменить</button>
        </div>
      </div>
    </div>
  </form>
</div>
