<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="updateMedicPolyclinic(form.value)">
    <div class="card card-body bg-light mb-2 mt-2">
      <div class="mb-3 row">
        <label for="price" class="col-form-label col-md-2">Цена приема: </label>
        <div class="col-md-5">
          <input type="text" formControlName="price" id="price"  class="form-control"
                 [(ngModel)]="item!.price"/>
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('price')
          && hasError('price', 'required')">Введите цену приема</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="offset-5 col-md-1">
          <button type="submit" class="btn btn-info" [disabled]="!form.valid">Изменить</button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-danger" (click)="redirectToMedic()" >Отменить</button>
        </div>
      </div>
    </div>
  </form>
</div>
