<div class="card card-body bg-light mb-2 mt-2">
  <div class="row">
    <div class="col-md-3">
      <strong>ID города:</strong>
    </div>
    <div class="col-md-3">
      {{item?.cityId}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Название города:</strong>
    </div>
    <div class="col-md-3">
      {{item?.cityName}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Долгота:</strong>
    </div>
    <div class="col-md-3">
      {{item?.longitude}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <strong>Широта:</strong>
    </div>
    <div class="col-md-3">
      {{item?.latitude}}
    </div>
  </div>
</div>
